.smells {
    border-radius: 2.875rem;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: 2rem;

    .content {
        padding: 2rem 5rem;

        .top {
            margin-bottom: 1rem;
            .left {
                align-self: center;
                .title {
                    color: #1a3b91;
                    font-family: "Droid Sans Bold";
                    font-size: 2.25rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }

            .right {
                align-self: center;
            }
        }

        .choice {
            .column {
                text-align: center;

                .text {
                    font-family: "Droid Sans Bold";
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                img {
                    filter: grayscale(1);
                    transition: all 0.3s;
                }

                .text {
                    color: gray;
                    transition: all 0.3s;
                }

                &:hover {
                    cursor: pointer;
                    transition: all 0.3s;

                    img {
                        filter: grayscale(0);
                    }
                }
            }

            .selected {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }
}
