.whatsapp {
    .content {
        a {
            float: right;
            border-radius: 1.875rem;
            background: #aaea79;
            padding: 0.62rem 1.9rem;
            display: flex;
            align-items: center;
            color: #fff;
            font-family: "Droid Sans Bold";
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;

            svg {
                margin-right: 10px;
            }
        }
    }
}
